/* basic setup */
*{
	margin:0;
	padding:0;
}

html{   background-image: url(../images/durantback.jpg);
	font-size:0.825em;
	color:white;
	font-family:Arial, Helvetica, sans-serif;
}

header,footer,
section,
hgroup,nav,
{
	display:block;
}

body{
	width:960px;
	margin:0 auto;
	position:relative;
}

/* Hyperlink Styles: */

a, a:visited {
	color:#fee415;
	text-decoration:none;
	outline:none;
}

a:hover{
	font-weight: bolder;
}

a img{
	border:none;
}

/* Headings: */

h1,h2,h3{
	font-family:"Myriad Pro","Helvetica Neue",Helvetica,Arial,Sans-Serif;
}

h1{
	/* The logo text */
	color: #fcbf17;
	font-size:3.5em;
	padding:.95em .5em 0 0;
	text-shadow:0 2px 2px white;
	text-transform:uppercase;
}

h3{
	/* The slogan text */
	font-size:4em;
	color: #fcbf17;
	font-weight:bold;
	text-shadow:0 2px 2px white;
}

h2{
	font-size:2.2em;
	font-weight:bold;
	letter-spacing:0.01em;
	text-align: center;
	text-transform:uppercase;
}

p{
	line-height:1.5em;
	padding-bottom:1em;
}

.line{
	/* The dividing line: */
	height:1px;
	background-color:#fcbf17;
	border-bottom:1px solid #fcbf17;
	margin:1em 0;
	overflow:hidden;
}

section .line{
	background-color:#FCBF17;
	border-bottom-color:#204656;
	margin:1.3em 0;
}

footer .line{
	margin:2em 0;
}

nav{
	background:#fcbf17;
	padding:0 5px;
	position:absolute;
	right:0;
	top:4em;	
	border:1px solid white;
	box-shadow:0 1px 1px white;
}

/* The clearfix hack to clear the floats: */

.clear:after{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/* The navigation styling: */

nav ul li{
	display:inline;
}

nav ul li a,
nav ul li a:visited{
	color:white;
	display:block;
	float:left;
	font-size:1.25em;
	font-weight:bold;
	margin:5px 2px;
	padding:7px 10px 4px;
	text-shadow:0 1px 1px black;
	text-transform:uppercase;
}

nav ul li a:hover{
	text-decoration:none;
	background-color:#1a65b8;
}

nav, section, nav ul li a{
	/* Applying CSS3 rounded corners: */
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}

figure{	border:2px solid #f2f2f2;
	border-radius:5px;
	margin-left:12px;
	width:260px;
	background-color: white;
	}

gallery{ padding-left:20px;
}

gallery img:hover{transform:scale(1.5);
}


/* Article styles: */
section {background-color:#1A65B8;
	margin:3em 0;
	height: 500px;
	padding:20px 5px 20px 20px;
	text-shadow:0 2px 0 black;
}

section ul li{
	color:white;
	font-size:1.25em;
	font-weight:bold;
	line-height:1.65em;
	margin-left: 30px;
	padding-left:4px;
	text-shadow:0 1px 1px black;
}



#sidebar {
	width: 305px;
	height: 500px;
	float: left;
	border-right: 2px solid #fcbf17;
}
main {
	width: 622px;
	height: 500px;
	float: right;
	position: relative;
}
main h2 {padding-bottom: 12px;}

main p{
	color:#fcbf17;
	font-size:1.5em;
	font-weight:bold;
	text-align: center;
}

asidea {
	width: 160px;
	padding: 1em;
	position: absolute;
	right: 430px;
	top: 300px; }
asideb {
	width: 180px;
	padding: 1em;
	position: absolute;
	right: 200px;
	top: 280px; }
asidec {
	width: 140px;
	padding: 1em;
	position: absolute;
	right: 10px;
	top: 290px; }



/* Footer styling: */

footer{
	clear: both;
	margin-bottom:30px;
	text-align:center;
	font-size:0.825em;
}


footer p{
	color:#fcbf17;
	margin-bottom:-2.5em;
	position:relative;
}





/* ********************Use them when homepage add  */
footer a,footer a:visited{
	color:#cccccc;
	background-color:#213e4a;
	display:block;
	padding:2px 4px;
	z-index:100;
	position:relative;
}

footer a:hover{
	text-decoration:none;
	background-color:#142830;
}

footer a.by{
	float:left;

}

footer a.up{
	float:right;
}
